<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | login</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <style>
    </style>

    <!-- upper line for home icon -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"> <!-- this is for social media icon -->
    <link rel='stylesheet' href = '/static/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/style.css">
    
    <!-- For dismiable alert-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"> OnlineEx</h2>
            </div>
            <div class="menu">
                <ul>
                    <u style="color: blue;">
                        <li> <a href="#"> Home </a> </li>
                    </u>
                    <u style="color: blue;">
                        <li> <a href="#"> About </a> </li>
                    </u>
                    <u style="color: blue;">
                        {% url 'facultylog' as url %}
                        <li> <a href="{{url}}"> Faculty login </a> </li>
                    </u>
                    <u style="color: blue;">
                        <li> <a href="follow01.php" target="_blank"> Follow us </a> </li>
                    </u>
                    <u style="color: blue;">
                        <li> <a href="#"> Contact </a> </li>
                    </u>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to text">
                <a href="#"><button class="btn ">Search</button></a>

            </div>
        </div>
        <hr>
        <div class="content">
            {% if error is not None %} 
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>ERROR</strong>: {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h2>Student login</h2>
                    <input type="text" name="rollno" placeholder="Enter roll no Here" required>
                    <input type="password" name="pass" placeholder="Enter Password Here" required>
                    <a href="#" class="forgot">Forgot password?</a>
                    <!-- <button class="btnn"> <a href="#">Login</a> </button> -->
                    <button class="btnn" type="submit"> Login </button>
                
                </form>

                <p class="link">Don't have an account <br>
                    <a href="stud-registration/" class="singup"> Register </a>here
                </p>

                <div id="error"></div>


                <a href="https://www.facebook.com/" target="_blank"> <ion-icon name="logo-facebook" class="fb"></ion-icon> </a>

                <a href="https://www.google.com/" target="_blank"> <ion-icon name="logo-google" class="go"></ion-icon> </a>

                <a href="https://www.instagram.com/choudhari_nikhil980?igsh=cGd5OGxyOG5wazEz" target="_blank"> <ion-icon name="logo-instagram" class="insta"></ion-icon> </a>

                <a href="https://www.linkedin.com/in/nikhilchoudhari/" target="_blank"> <ion-icon name="logo-linkedin" class="link"></ion-icon> </a>

                <a href="https://wa.me/qr/G4GKYQF4IXPPA1" target="_blank"> <ion-icon name="logo-whatsapp" class="whatapp"></ion-icon> </a>

                <a href="https://www.youtube.com/" target="_blank"> <ion-icon name="logo-youtube" class="youtube"></ion-icon> </a>
            </div>

        </div>
    </div>
</body>
</html>
